*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    }
 
   

    /* -----------Pagina Inicio----------- */

    .bg-body-tertiary{
        background-color: #ffffff;
    }
    .navbar-nav :hover{
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #000; 
    }
    .logo{
        width: 60px;
        
    }
    .article-title {
        text-align: center;
        background: linear-gradient(289.68deg, #0ec6ad -10.45%, #d53e0f 115.75%);
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-bottom: 5px solid #fff;
    }
    .d-block-w-100{
       padding: 2% 15% 2% 15%;
        width: 100%;
        height: 500px;

    }
    .body-principal-inicio{
        background: linear-gradient(#dfdfdf, #acacac);
    }
    body{
        background-color: rgb(238, 238, 240);
        color: #000;
        font-size: 21px;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: left;
        
    }

    ul{
        text-align: left;
    }
    .grid-container {
        display: grid;
        grid-template-rows: repeat(23, 200px);
        grid-template-columns: repeat(5, 1fr); 
    }
    .grid-img{
        width: 100%;
        height: 100%;
    }
    .uno {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5; 
        padding: 7% 20% 7% 8%;         
    }    
    .dos {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 7% 20% 2% 0%;
    }    
    .tres {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 5;
        padding: 0% 20% 7% 0%;
    } 
    .cuatro {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 8;
        padding: 5% 10% 2% 5%;
    } 
    .cuatroimg {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 10;
        padding: 0% 0% 0% 0%;
    }     
    .cinco {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 10;
        grid-row-end: 12;
        padding:  4% 10% 2% 5%;
    } 
    .cinco2 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 12;
        grid-row-end: 14;
        padding:  3% 10% 2% 5%;
    } 
    .seisimg {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 14;
        grid-row-end: 16;
        padding:  0% 5% 0% 5%;
    } 
    .siete {
        grid-column-start:1 ;
        grid-column-end: 6;
        grid-row-start: 16;
        grid-row-end: 20;
        padding: 7% 10% 2% 5%;
    } 
    .ocho{
        grid-column-start:1 ;
        grid-column-end: 6;
        grid-row-start: 20;
        grid-row-end: 22;
        padding: 0% 10% 2% 5%;
    }
    .ochoimg{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 22;
        grid-row-end: 24;
        padding: 0% 0% 10% 0%;
    }
    .img-footer{
        grid-area: img-footer;
        width: 100%;
    } 
    
    
    /* -----------Pagina Ciencia----------- */
    .article-title-ciencia {
        text-align: center;
        background: linear-gradient(289.68deg, #c6ebd5 -10.45%, #117c6f 115.75%);
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-bottom: 5px solid #fff;
    }
    .grid-container-ciencia {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: repeat(21, 200px);
        grid-template-columns: repeat(6, 1fr); 
        font-size: 22px;
        background: linear-gradient(289.68deg, #c6ebd5 -10.45%, #117c6f 115.75%);
    }
    .grid-img{
        width: 100%;
        height: 100%;
    }
    .item-ciencia-uno {
        grid-area: item-ciencia-uno;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5; 
        padding: 7% 5% 7% 10%; 
    }
    .item-ciencia-2uno {
        grid-area: item-ciencia-2uno;
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 5; 
        padding: 7% 10% 7% 0%;  
    }
    .item-ciencia-dos {
        grid-area: item-ciencia-dos;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7; 
        padding: 0% 10% 7% 5%;   
    }
    .item-ciencia-2dos {
        grid-area: item-ciencia-2dos;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 10; 
        padding: 5% 13% 7% 13%;
    }
    .item-ciencia-tres {
        grid-area: item-ciencia-tres;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 10;
        grid-row-end: 12; 
        padding: 3% 5% 7% 5%;  
    }
    .item-ciencia-1tres {
        grid-area: item-ciencia-1tres;
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 10;
        grid-row-end: 12; 
        padding: 7% 10% 0% 0%;
    }
    .item-ciencia-2tres {
        grid-area: item-ciencia-2tres;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start:12 ;
        grid-row-end: 14; 
        padding: 5% 10% 7% 10%;
    }
    .item-ciencia-cuatro {
        grid-area: item-ciencia-cuatro;
       grid-column-start: 1;
       grid-column-end: 7;
       grid-row-start: 14;
       grid-row-end: 22;
       padding: 10% 10% 7% 10%;    
    }



    

    /* -----------Pagina tecnologia----------- */
    .article-title-tecnologia {
        text-align: center;
        background: linear-gradient(289.68deg, #ecd4ea -10.45%, #511f52 115.75%);
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-bottom: 5px solid #fff;
    }
    .body-principal-tecnologia{
        background: linear-gradient(289.68deg, #ecd4ea -10.45%, #511f52 115.75%);

    }
    img{
        width: 100%;
        height: 100%;
    }    
    .row{
        text-align: left;
        padding: 2% 0% 2% 0%;
    }    
    .video-tecnologia{
        position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    }
    .body-tecnologia{
        text-align: left;
        margin-left: 15%;
        margin-right: 15%;
    }
    .section-tecnologia-uno{
        margin-top: 10%;
    }



    /* -----------Pagina ingenieria----------- */
    .article-title-ingenieria {
        text-align: center;
        background: linear-gradient(289.68deg, #fcaf67 -10.45%, #7e0306 115.75%);
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-bottom: 5px solid #fff;
    }    
    .body-principal-ingenieria{
        background: linear-gradient(#d53e0f, #fcaf67);
    }
    .body-ingenieria{
        text-align: left;
        margin-left: 15%;
        margin-right: 15%;
    }
    .section-ingenieria-uno{
        margin-top: 10%;
    }


    /* -----------Pagina matematica----------- */
    .article-title-matematica {
        text-align: center;
        background: linear-gradient(289.68deg, #bce6ff -10.45%, #015c92 115.75%);
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-bottom: 5px solid #fff;
    }
    .body-principal-matematica{
        background: linear-gradient(#015c92, #bce6ff);
    }
    .grid-container-matematica{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(26, 200px);
        font-size: 22px;
        background: linear-gradient(289.68deg, #015c92 -10.45%, #bce6ff 115.75%);    
    }
    .item-matematica-uno{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 7; 
        padding: 7% 10% 7% 8%;
    }
    .item-matematica-dos{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 9; 
        padding: 0% 10% 7% 8%;
    }
    .item-matematica-2dos{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 9;
        grid-row-end: 12; 
        padding: 0% 15% 7% 15%;
    }
    .item-matematica-tres{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 12;
        grid-row-end: 14; 
        padding: 0% 10% 7% 8%;
    }
    .item-matematica-cuatro{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 14;
        grid-row-end: 24; 
        padding: 10% 10% 7% 8%;
    }
    .item-matematica-cinco{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 24;
        grid-row-end: 26; 
        padding: 0% 10% 7% 8%;
    }
    



     /* -------mobile  ----------*/
     /* -----pagina inicio -----*/
     @media screen and (max-width: 480px){
        .grid-container {
            width: 100%;
            margin: 0 ;
            display: grid;
            grid-template-rows: repeat(27, 200px);
            grid-template-columns: 1; 
        }
        .grid-img{
            width: 100%;
            height: 100%;
        }
        .uno {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 7; 
            padding: 7% 10% 7% 8%;         
        }    
        .dos {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 7;
            grid-row-end: 9;
            padding: 7% 10% 2% 10%;
        }    
        .tres {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 9;
            grid-row-end: 11;
            padding: 0% 10% 7% 10%;
        } 
        .cuatro {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 11;
            grid-row-end: 16;
            padding: 0% 10% 2% 5%;
        } 
        .cuatroimg {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 16;
            grid-row-end: 18;
            padding: 0% 10% 2% 10%;
        }     
        .cinco {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 18;
            grid-row-end: 22;
            padding:  7% 10% 2% 5%;
        } 
        .cinco2 {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 22;
            grid-row-end: 26;
            padding:  12% 10% 2% 5%;
        } 
        .seisimg {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 26;
            grid-row-end: 28;
            padding:  7% 5% 2% 5%;
        } 
        .siete {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 28;
            grid-row-end: 33;
            padding: 7% 10% 2% 5%;
        } 
        .ocho{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 33;
            grid-row-end: 38;
            padding: 0% 10% 2% 5%;
        }
        .ochoimg{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 38;
            grid-row-end: 40;
            padding: 2% 10% 10% 10%;
        }
        /*----- pagina ciencia----- */
        .grid-container-ciencia {
            width: 100%;
            margin: 0 ;
            display: grid;
            grid-template-rows: repeat(27, 200px);
            grid-template-columns: 1;
        }
        .item-ciencia-uno {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 5; 
            padding: 7% 5% 7% 7%;
        }
        .item-ciencia-2uno {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 5;
            grid-row-end: 7;  
            padding: 7% 10% 7% 10%;
        }
        .item-ciencia-dos {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 7;
            grid-row-end: 12;  
            padding: 7% 5% 7% 7%;
        }
        .item-ciencia-2dos {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 12;
            grid-row-end: 14;  
            padding: 5% 13% 5% 13%;
        }
        .item-ciencia-tres {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 14;
            grid-row-end: 17;  
            padding: 7% 5% 7% 7%;
        }
        .item-ciencia-1tres {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 17;
            grid-row-end: 19; 
            padding: 7% 5% 7% 7%;
        }
        .item-ciencia-2tres {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 19;
            grid-row-end: 23; 
            padding: 7% 5% 7% 7%;
        }
        .item-ciencia-cuatro {
           grid-column-start: 1;
           grid-column-end: 7;
           grid-row-start: 23;
           grid-row-end: 32;
           padding: 7% 5% 7% 7%;
        }
        /* ----- pagina matematica ----- */
        .grid-container-matematica{
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(29, 200px);
            font-size: 22px;
            background: linear-gradient(289.68deg, #015c92 -10.45%, #bce6ff 115.75%);    
        }
        .item-matematica-uno{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 15; 
            padding: 7% 10% 7% 8%;
        }
        .item-matematica-dos{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 15;
            grid-row-end: 20; 
            padding: 15% 10% 7% 8%;
        }
        .item-matematica-2dos{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 20;
            grid-row-end: 22; 
            padding: 0% 15% 0% 15%;
        }
        .item-matematica-tres{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 22;
            grid-row-end: 28; 
            padding: 7% 10% 7% 8%;
        }
        .item-matematica-cuatro{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 28;
            grid-row-end: 35; 
            padding: 15% 10% 7% 8%;
        }
        .item-matematica-cinco{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 35;
            grid-row-end: 45; 
            padding: 0% 10% 7% 8%;
        }
    }
    
    /*--------- tablet -------------*/ 
    @media screen and (min-width: 481px) and (max-width: 768px){
     /* ----- pagina inicio ----- */
        .grid-container {
            width: 100%;
            margin: 0 ;
            display: grid;
            grid-template-rows: repeat(29, 200px);
            grid-template-columns: 1; 
        }
        .grid-img{
            width: 100%;
            height: 100%;
        }
        .uno {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 5; 
            padding: 7% 10% 7% 8%;         
        }    
        .dos {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 5;
            grid-row-end: 7; 
            padding: 7% 0% 2% 0%;
        }    
        .tres {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 7;
            grid-row-end: 9;
            padding: 0% 0% 7% 0%;
        } 
        .cuatro {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 9;
            grid-row-end: 12;
            padding: 0% 10% 2% 5%;
        } 
        .cuatroimg {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 12;
            grid-row-end: 14;
            padding: 5% 10% 2% 10%;
        }     
        .cinco {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 14;
            grid-row-end: 17;
            padding:  7% 10% 2% 5%;
        } 
        .cinco2 {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 17;
            grid-row-end: 19;
            padding:  0% 10% 2% 5%;
        } 
        .seisimg {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 19;
            grid-row-end: 21;
            padding:  15% 0% 2% 0%;
        } 
        .siete {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 21;
            grid-row-end: 26;
            padding: 7% 10% 2% 5%;
        } 
        .ocho{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 26;
            grid-row-end: 28;
            padding: 0% 10% 2% 5%;
        }
        .ochoimg{
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 28;
            grid-row-end: 30;
            padding: 15% 0% 10% 0%;
        } 
            
            /* ----- pagina ciencia ----- */
            .grid-container-ciencia {
                width: 100%;
                margin: 0 ;
                display: grid;
                grid-template-rows: repeat(27, 200px);
                grid-template-columns: 1;
            }
            .item-ciencia-uno {
                grid-column-start: 1;
                grid-column-end: 7;
                grid-row-start: 1;
                grid-row-end: 4; 
                padding: 7% 5% 7% 7%;
            }
            .item-ciencia-2uno {
                grid-column-start: 1;
                grid-column-end: 7;
                grid-row-start: 4;
                grid-row-end: 6;  
                padding: 7% 10% 7% 10%;
            }
            .item-ciencia-dos {
                grid-column-start: 1;
                grid-column-end: 7;
                grid-row-start: 6;
                grid-row-end: 9;  
                padding: 7% 5% 7% 7%;
            }
            .item-ciencia-2dos {
                grid-column-start: 1;
                grid-column-end: 7;
                grid-row-start: 9;
                grid-row-end: 11;  
                padding: 7% 13% 5% 13%;
            }
            .item-ciencia-tres {
                grid-column-start: 1;
                grid-column-end: 7;
                grid-row-start: 11;
                grid-row-end: 14;  
                padding: 7% 5% 7% 7%;
            }
            .item-ciencia-1tres {
                grid-column-start: 2;
                grid-column-end: 6;
                grid-row-start: 14;
                grid-row-end: 16; 
                padding: 0% 0% 10% 0%;
            }
            .item-ciencia-2tres {
                grid-column-start: 1;
                grid-column-end: 7;
                grid-row-start: 16;
                grid-row-end: 19; 
                padding: 0% 5% 7% 7%;
            }
            .item-ciencia-cuatro {
               grid-column-start: 1;
               grid-column-end: 7;
               grid-row-start: 18;
               grid-row-end: 30;
               padding: 15% 5% 7% 7%;
            }
         /* ----- pagina matematica ----- */
        .grid-container-matematica{
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(42, 200px);
            font-size: 22px;
            background: linear-gradient(289.68deg, #015c92 -10.45%, #bce6ff 115.75%);    
        }
        .item-matematica-uno{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 11; 
            padding: 7% 10% 7% 8%;
        }
        .item-matematica-dos{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 11;
            grid-row-end: 14; 
            padding: 0% 10% 7% 8%;
        }
        .item-matematica-2dos{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 14;
            grid-row-end: 17; 
            padding: 0% 15% 0% 15%;
        }
        .item-matematica-tres{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 17;
            grid-row-end: 21; 
            padding: 7% 10% 7% 8%;
        }
        .item-matematica-cuatro{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 21;
            grid-row-end: 39; 
            padding: 10% 10% 7% 8%;
        }
        .item-matematica-cinco{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 39;
            grid-row-end: 43; 
            padding: 0% 10% 7% 8%;
        }

    }
    