/* .container-footer{
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;
}
.container-footer{
    footer{
        max-width: 1200px;
        margin: auto;
        .logo-footer{
            text-align: center;
            .img-footer{
                width: 100px;
            }
        }
        .redes-footer{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .icon-redes-footer{
                font-size: 20px;
                margin: 20px;
                background: #efefef;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                color: #a2a2a2;
            }
        }
        hr{
            margin-top: 20px;
            border: none;
            height: 2px;
            background: #c0c0c07a;
        }
        .h4-footer{
            text-align: center;
            margin-top: 40px;
            color: #8e8e8e;
            font-weight: 500px;
        }
    }
} */

.img-footer {
    width: 100%;
    height: 100%;
  }